@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
	touch-action: none;
	min-height: 100vh;
	font-size: 16px;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	height: 100%;
}

html,
* {
	box-sizing: border-box;
}

.tldraw__editor {
	position: fixed;
	inset: 0px;
	overflow: hidden;
}

.user-prompt__overlay {
	position: absolute;
	inset: 0px;
	pointer-events: all;
}

.user-prompt__container {
	position: absolute;
	top: 48px;
	left: 8px;
	display: flex;
	width: 500px;
	max-width: calc(100% - 16px);
	flex-direction: column;
	border: 1px solid var(--color-panel-contrast);
	background-color: var(--color-panel);
	box-shadow: var(--shadow-3);
	border-radius: 8px;
	pointer-events: all;
	overflow: hidden;
}

.user-prompt__container textarea {
	position: relative;
	width: 100%;
	height: 96px;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	padding: 12px;
	border: none;
	background-color: none;
	resize: none;
	border-bottom: 1px solid var(--color-muted-2);
	pointer-events: all;
}

.user-prompt__buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
